<form [formGroup]="addressForm" (submit)="onSubmit()">
  <!-- name -->
  <label for="name"
    >Name
    <mat-form-field id="name" appearance="outline">
      <input matInput  formControlName="nameField" />
    </mat-form-field>
  </label>
  <!-- nearby major city -->
  <!-- or do we want to choose state, and autopopulate capital city? -->
  <label for="city"
    >City
    <mat-form-field id="city"  appearance="outline">
      <input matInput required formControlName="cityField" />
    </mat-form-field>
  </label>
  <!-- state - autofill -->
  <label for="state"
    >State
    <mat-form-field id="state"  appearance="outline">
      <input matInput required formControlName="stateField" type="text" [matAutocomplete]="auto" />
    </mat-form-field>
  </label>
  <!-- disable if required fields aren't filled -->
  <button>Submit</button>
</form>

<span>{{ addressForm.errors | json}}</span>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
</mat-autocomplete>
