<div class="right">
  <svg
    id="oursvg"
    (click)="openBottomSheet()"
    xmlns="http://www.w3.org/2000/svg"
    width="1in"
    height="0.60in"
    viewBox="0 0 59 19"
  >
      <path
        class="pointerCursor"
        id="Selection"
        fill="#445599"
        stroke="black"
        stroke-width="1"
        d="M 2.00,19.00
               C 2.00,19.00 58.00,19.00 58.00,19.00
                 58.00,19.00 58.00,1.00 58.00,1.00
                 45.81,1.00 27.33,1.65 16.00,5.70
                 9.20,8.13 3.24,11.33 2.00,19.00 Z"
      />
      <text
        class="pointerCursor"
        x="40"
        y="12"
        fill="#FFFFFF"
        text-anchor="middle"
        alignment-baseline="middle"
      >
        Chat
      </text>
  </svg>
</div>
