mat-card {
  margin: 1rem;
  width: 25rem;
  /* height: 30rem; */
}

.business {
  background-color: aliceblue;
}

.online {
  background-color: lightgreen;
}

.offline {
  background-color: lightgrey;
}
