<div id="colorPickers">
  <mat-card>
    <label for="redSlider">Red</label>
    <mat-slider
      id="redSlider"
      [min]="1"
      [max]="255"
      [step]="1"
      [(ngModel)]="redValue"
      (change)="changeColorValue()"
      [thumbLabel]="true"
      [tickInterval]="1"
      [disabled]="redDisabled"
    ></mat-slider>
    <mat-slide-toggle
      class="color-toggle"
      id="redToggle"
      [color]="color"
      [checked]="redChecked"
      [(ngModel)]="redDisabled"
    >
      Lock
    </mat-slide-toggle>
  </mat-card>
  <mat-card>
    <label for="greenSlider">Green</label>
    <mat-slider
      id="greenSlider"
      [min]="1"
      [max]="255"
      [step]="1"
      [(ngModel)]="greenValue"
      (change)="changeColorValue()"
      [thumbLabel]="true"
      [tickInterval]="1"
      [disabled]="greenDisabled"
    ></mat-slider>
    <mat-slide-toggle
      class="color-toggle"
      id="greenToggle"
      [color]="color"
      [checked]="greenChecked"
      [(ngModel)]="greenDisabled"
    >
      Lock
    </mat-slide-toggle>
  </mat-card>
  <mat-card>
    <label for="blueSlider">Blue</label>
    <mat-slider
      id="blueSlider"
      [min]="1"
      [max]="255"
      [step]="1"
      [(ngModel)]="blueValue"
      (change)="changeColorValue()"
      [thumbLabel]="true"
      [tickInterval]="1"
      [disabled]="blueDisabled"
    ></mat-slider>
    <mat-slide-toggle
      class="color-toggle"
      id="blueToggle"
      [color]="color"
      [checked]="blueChecked"
      [(ngModel)]="blueDisabled"
    >
      Lock
    </mat-slide-toggle>
  </mat-card>
</div>
<mat-card id="colorSelection"> </mat-card>
