<button
  mat-button
  id='landAnimalButton'
  (click)="showFilteredAnimals('land')"
  aria-label="Show an example land animal list"
>
  Land Animals
</button>

<button
  mat-button
  id='airAnimalButton'
  (click)="showFilteredAnimals('air')"
  aria-label="Show an example air animal list"
>
  Air Animals
</button>

<button
  mat-button
  id='sectionOfAnimals'
  (click)="showAllAnimals()"
  aria-label="Show all animals by type"
>
  All Animals
</button>

<mat-list id="{{ listType }}">
  <mat-list-item *ngFor="let animal of listData">
      <span>
        <img
          [src]="animal.avatar"
          alt="{{ animal.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
    <h4 mat-line>{{ animal.name }}</h4>
    <p mat-line>{{ animal.description }}</p>
  </mat-list-item>
</mat-list>

<mat-list id="subsectionedAnimals">
  <span *ngFor="let type of listSections">
  <h3 matSubheader>{{ type }}</h3>
    <mat-list-item *ngFor="let animal of showFilteredAnimals(type)">
        <span>
          <img
            [src]="animal.avatar"
            alt="{{ animal.name }}"
            class="img-responsive"
            style="max-height: 50px;">
        </span>
      <h4 mat-line>{{ animal.name }}</h4>
      <p mat-line>{{ animal.description }}</p>
    </mat-list-item>
  <mat-divider></mat-divider>
  </span>
</mat-list>