<form [formGroup]="sandwichFormGroup" (submit)="onSubmit()">
  <mat-form-field id="sandwich" class="block-field">
    <mat-label>Sandwich: </mat-label>

    <mat-select
      required
      formControlName="sandwich"
      (selectionChange)="selectionChanged($event)"
      id="sandwichSelect"
    >
      <mat-option *ngFor="let sandwich of sandwichList" [value]="sandwich.name">{{ sandwich.text }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="block-field">
    <mat-label for="side">Side: </mat-label>

    <mat-radio-group
      aria-label="Would you like a side?"
      formControlName="side"
      id="side"
    >
      <mat-radio-button *ngFor="let side of sides" [value]="side">{{
        side
      }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="block-field" id="sandwichExtras">
    <mat-label>Extras: </mat-label>
    <mat-label
      formArrayName="extras"
      *ngFor="
        let extra of sandwichFormGroup.controls.extras.controls;
        index as i
      "
    >
      <mat-checkbox formControlName="{{ i }}">{{
        extrasAvailable[i].text
      }}</mat-checkbox>
    </mat-label>
  </div>

  <button mat-button id="submitButton">Order</button>
</form>
