<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span id="sitename">Easy Angular Testing</span>
    <span id="spacefiller"></span>
    <span>Need to put some links to pages here?</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>
