<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span id="sitename">Easy Angular Testing</span>
    <span id="spacefiller"></span>
    <span
      >Jim Jenkins
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example user verified icon"
        >verified_user</mat-icon
      >
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span id="spacefiller"></span>

    <input
      matInput
      [matDatepicker]="picker"
      (dateChange)="dateChangeHandler($event)"
    />

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker
      #picker
      startView="multi-year"
      [startAt]="startDate"
    ></mat-datepicker>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" closed #snav>Sidenav content</mat-sidenav>
  <mat-sidenav-content
    ><ng-container [ngTemplateOutlet]="this[ourMonth]"></ng-container
  ></mat-sidenav-content>
</mat-sidenav-container>

<ng-template #january><span>January is a month of cold.</span></ng-template>
<ng-template #february><span>february is big and bold.</span></ng-template>
<ng-template #march><span>march along like a trooper</span></ng-template>
<ng-template #april><span>april lions are super</span></ng-template>
<ng-template #may><span>may I have some sunshine please?</span></ng-template>
<ng-template #june><span>june the dogs layout, with fleas</span></ng-template>
<ng-template #july><span>july it's hot, but not as hot</span></ng-template>
<ng-template #august><span>aug dog's days are at the top</span></ng-template>
<ng-template #september><span>sept we see the cold come in</span></ng-template>
<ng-template #october><span>oct the snow may start again</span></ng-template>
<ng-template #november
  ><span>nov we're done but time is left</span></ng-template
>
<ng-template #december><span>dec our boots are quite bereft</span></ng-template>
